
body {
  padding: 0px;
  margin:0px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  min-height: 1200px;
}
.container{
	width:80%;
	margin-left:10%;
	margin-right:10%;
	min-width:720px;
	background-color:grey;
}
.nav{

	height: 40px;
	background-color:red;
	position: fixed;
    width: inherit;

  }
 .navbar{
 	background-color:blue;
 	height:inherit;


 }
 .navbar>ul{
 	margin:0 auto;
 }
 
 .navbar>ul>li{
 	text-decoration: none;
 	display:inline-block;
 	margin-left:10%;
 	font-size: 16pt;
 	background-color: white;
 }
	
